@charset"UTF-8";
@import"./allblock";
@import url(./_fonts.scss);
@import url(./_general.scss);
@import url(./_variebles.scss);
@import url(/node_modules/bootstrap/scss/bootstrap.scss);
*{
    box-sizing: border-box;
}
.navbar__section__item{
    list-style: none;
    &__link{
        &__tittle{
            color: #33323D;
            text-decoration: none;
        }
    }
}